<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="toast-template" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="bi-info-circle text-primary"></i><span>&nbsp;&nbsp;</span>
      <strong class="me-auto q-toast-title">Title</strong>
      <small class="text-muted q-toast-time"></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body q-toast-body">
    </div>
  </div>
</div>