<div class="input-group mb-3">
  <span class="input-group-text">Profile</span>
  <select class="form-select" name="profile" id="profile">
  </select>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#settingsModal">
    <i title="Profile Settings" class="bi-gear"></i>
  </button>
</div>

<!-- Modal YAML -->
<div id="settingsModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Profile Settings</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Profile Configurations - {{ config['profile'] }} </p>
        <dl>
          {% for k, v in config.items() %}
          <dt>{{ k }}</dt>
          <dd style="word-wrap: break-word;">{{ v }}</dd>
          {% endfor %}
        </dl>

      </div>
      <div class="modal-footer">
        <p class="text-muted">Settings will be saved in
        <pre>~/.oci/config.json</pre>
        </p>
        <button id="save-settings" type="button" class="btn btn-danger" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>