<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-add-model">
  Add Model...
</button>
<div id="modal-add-model" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Model</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You can add a new model from HuggingFace.
        <div style="height: 20px;"></div>
        <form>
          <div class="form-group mt-3">
            <label for="input-model-path">Model Path</label>
            <input type="text" class="form-control" id="input-model-path" value="meta-llama/Llama-2-7b-hf"
              placeholder="meta-llama/Llama-2-7b-hf">
          </div>
          <div class="form-group mt-3">
            <label for="input-storage-prefix">Object Storage Path</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">oci://</div>
              </div>
              <select id="input-storage-bucket" class="form-select">
              </select>
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="input-storage-namespace" placeholder="namespace">
              <div class="input-group-prepend">
                <div class="input-group-text">/</div>
              </div>
              <input type="text" class="form-control" id="input-storage-prefix" placeholder="prefix" value="models">
            </div>
            <small class="form-text text-muted">This is where the model files will be saved.</small>
            <div class="form-check mt-3">
              <div>
                <input class="form-check-input" type="checkbox" value="" id="input-download-files">
                <label class="form-check-label" for="input-download-files">
                  Save the model files to object storage once the model is added.
                </label>
              </div>
              <small class="form-text text-muted">Files may also be downloaded automatically when you deploy or
                fine-tune the model.</small>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <div id="error-add-model" class="d-none text-danger"></div>
        <div id="spinner-add-model" class="spinner-border text-primary d-none" role="status"></div>
        <button type="button" id="button-add-model" class="btn btn-primary" onclick="addModel();">
          Add
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>