{% extends "base.html" %}
{% block content %}
<div style="height: 20px;"></div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#panel-models" type="button"
      role="tab" aria-controls="home" aria-selected="true">Models</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#panel-deployments" type="button"
      role="tab" aria-controls="profile" aria-selected="false">Deployments</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#panel-jobs" type="button" role="tab"
      aria-controls="contact" aria-selected="false">Jobs</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="panel-models" role="tabpanel" aria-labelledby="home-tab">
    <div class="p-3" style="height: 50px;">
      <div id="spinner-models" class="spinner-border text-primary float-end" role="status">
      </div>
      {% include 'modal_add_model.html' %}
    </div>
    <hr />
    <div id="row-models">

    </div>
  </div>
  <div class="tab-pane fade" id="panel-deployments" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="panel-jobs" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    initWithProfile(function () {
      console.log("Hello");
    });
  });
</script>
{% endblock %}